{% extends 'base.html' %}

{% block metadescription %} {% endblock %}

{% block title %} test1.1 {% endblock %}

{% block content %}

{% if user.is_authenticated %}

  <p> <h3 class="text-center">Welcome:  {{ user.username}} </h3> </p>
{% endif %}

<!-- jumbotron -->
<div class="jumbotron jumbotron-fluid bg-danger" id="jumbo-bgc" style="margin-top: 10px">
  <div class="jumbo-logo-wrapper"><i class="fas fa-cogs" id="raj-logo"></i></div>
  <h1 class="text-center jumbo-title">Raj Issue Tracker</h1>
  <p class="lead text-center font-weight-bold text-body" id="jumbo-text">Signup to see all our cool features products it's free !!!</p>
  <div class="btn-cta">
    <a class="btn btn-secondary btn-lg" href="{% url 'signup' %}" role="button">Signup</a>
    <h5 class="text-dark" style="margin-top: 15px;">Already signup ? Click <a href="{% url 'login' %}">here</a> to login!</h5>
  </div>
</div>
<!-- jumbotron -->


<div class="container">

  <div class="r-features">
    <h2 class="cards-title text-center">What we do...</h2>
    <div class="mobile-position">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-info bg-dark">
          <i class="fas fa-bullhorn card-icon text-danger"></i>
          <div class="card-body">
            <h5 class="card-title text-white">New features!</h5>
            <p class="card-text text-white">Features cost only €100 per person and will implement when at least 3 to 6 users show interest within 15-20 days. If not, we refund your money.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-info bg-danger">
          <i class="fas fa-bug card-icon text-white"></i>
          <div class="card-body ">
            <h5 class="card-title text-white">Bugs we fixed free!</h5>
            <p class="card-text">We'll do our best to fix all the bugs in a descending order. So make sure to upvote for the ones that you may be experiencing too!</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-info bg-dark">
          <i class="fas fa-handshake card-icon text-danger"></i>
          <div class="card-body">
            <h5 class="card-title text-white"> Growing community!</h5>
            <p class="card-text text-white"> Our community is active, are you willing to help! Don't forget to share to grow our community.</p>
          </div>
        </div>
      </div>
    </div> <!-- row -->
    </div> <!-- mobile-position -->
  </div> <!-- r-features -->
</div> <!-- container -->

<!-- NEWSLETTER -->

   
  <section id="" class="text-center p-5 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4>Sign Up For Our Newsletter</h4>
          <p>Get the latest content to your inbox every month. No spam, we hate it too </p>


          <form class=" form-inline justify-content-center row position-relative flex-column needs-validation" novalidate>

         

          <input type="email" name="email" placeholder="Your email ID.." class="email white col-7 col-md-4 col-lg-7 ml-3 form-control" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>

          <br>

          <div class="valid-feedback feedback-pos">
            Looks good!
          </div>

          <div class="invalid-feedback feedback-pos">
            Please input valid email ID
          </div>

          <button type="submit" class="btn btn-outline-danger btn-block col-7 col-md-4 col-lg-7 ml-3 form-control" value="validate"><h6 class = text-center> Submit </h6>
          </button>

        </form>
        
        </div>
      </div>
    </div>
  </section>
<hr>

<!-- NEWSLETTER End -->


<script>
 // Email Validation
    (function() {
  'use strict';
  window.addEventListener('load', function() {
    var forms = document.getElementsByClassName('needs-validation');
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
  </script>

{% endblock %}