{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">

    <div class="col-md-6">
      <h1 class="page-title">Bugs</h1> 
  {% for issue in issues %}
  {% if issue.varieties == issue.BUG %}
      <div class="accordion issue-card" id="accordionExample">
        <div class="card w-75" style="width: 35rem;">
          <div class="card-header" id="headingOne{{ forloop.counter }}">
            <h5 class="mb-0">
              <button class="btn btn-link" id="issue-title" type="button" data-toggle="collapse" data-target="#collapseOne{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseOne{{ forloop.counter }}">
                  {{ issue.name}}
              </button>
              <div class="thumbs-upvote">
                <p class="issue-upvote-amount">{{ issue.upvotes }} </p>
                <i class="fas fa-thumbs-up" id="upvote"></i>
              </div>
            </h5>
          </div>
          <div id="collapseOne{{ forloop.counter }}" class="collapse" aria-labelledby="headingOne{{ forloop.counter }}" data-parent="#accordionExample">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Description: {{ issue.description }}</li>
                {% if issue.status == issue.TODO %}
                  <li class="list-group-item">
                    Status: 
                    <span class="badge badge-pill badge-primary">{{ issue.status }}</span>
                  </li> 
                {% endif %} 
                {% if issue.status == issue.DOING %}
                  <li class="list-group-item">
                    Status: 
                    <span class="badge badge-pill badge-info">{{ issue.status }}</span>
                  </li> 
                {% endif %} 
                {% if issue.status == issue.DONE %}
                  <li class="list-group-item">
                    Status:
                    <span class="badge badge-pill badge-success">{{ issue.status }}</span>
                  </li>
                {% endif %}
              </ul>
            </div>
            <a href="{% url 'get_detail' issue.id %}" class="btn btn-outline-secondary" style="margin: 0 22px 17px;">Details</a>
          </div>
        </div>
      </div>
  {% endif %} 
  {% empty %}
      <p>No bugs.</p>
  {% endfor %}
    </div><!-- End column-->



    <div class="col-md-6">
      <h1 class="page-title">Features</h1> 
  {% for issue in issues %}
  {% if issue.varieties == issue.FEATURE %} 
      <div class="accordion issue-card" id="accordionExample2">
        <div class="card w-75" style="width: 35rem;">

          <div class="card-header" id="headingTwo{{ forloop.counter }}">
            <h5 class="mb-0">
              <button class="btn btn-link" id="issue-title" type="button" data-toggle="collapse" data-target="#collapseTwo{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseTwo{{ forloop.counter }}">
                  {{ issue.name}}
              </button>
              <div class="thumbs-upvote">
                <p class="issue-upvote-amount">{{ issue.upvotes }} </p>
                <i class="fas fa-thumbs-up" id="upvote"></i>
              </div>
            </h5>
          </div>

          <div id="collapseTwo{{ forloop.counter }}" class="collapse " aria-labelledby="headingTwo{{ forloop.counter }}" data-parent="#accordionExample">
            <div class="card-body">

              <ul class="list-group list-group-flush">

                <li class="list-group-item">Description: {{ issue.description }}</li>
                {% if issue.status == issue.TODO %}
                  <li class="list-group-item">
                    Status: 
                    <span class="badge badge-pill badge-primary">{{ issue.status }}</span>
                  </li> 
                {% endif %} 
                {% if issue.status == issue.DOING %}
                  <li class="list-group-item">
                    Status: 
                    <span class="badge badge-pill badge-info">{{ issue.status }}</span>
                  </li> 
                {% endif %} 
                {% if issue.status == issue.DONE %}
                  <li class="list-group-item">
                    Status:
                    <span class="badge badge-pill badge-success">{{ issue.status }}</span>
                  </li>
                {% endif %}
                
              </ul>
            </div>
            <a href="{% url 'get_detail' issue.id %}" class="btn btn-outline-secondary" style="margin: 0 22px 17px;">Details</a>
          </div> <!-- for loop conter collaps 2 -->
          
        </div> <!-- Card -->
      </div> <!-- accordian -->
  {% endif %} 
  {% empty %}
      <p>No Features.</p>
  {% endfor %}
    </div><!--End column 2-->
  </div> <!-- row -->
</div> <!-- container -->

<!-- Pagination -->


  <div class=" pagination justify-content-center ">

    {% if issues.has_previous %}
      <a class="pagination-action" href="?page=1">
       <i class="fa fa-angle-double-left" aria-hidden="true"></i>
      </a>
      <a class="pagination-action" href="?page={{ issues.previous_page_number }}">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </a>
    {% endif %}

    <span class="pagination-current">{{ issues.number }}</span>
    <span class="pagination-of">of</span>
    <span class="pagination-total">{{ issues.paginator.num_pages }}</span>

    {% if issues.has_next %}
      <a class="pagination-action" href="?page={{ issues.next_page_number }}">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
      <a class="pagination-action" href="?page={{ issues.paginator.num_pages }}">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </a>
    {% endif %}

  </div>

<!-- Pagination end -->

{% endblock %}
